.title {
  text-align: center;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  font-size: 100px;
  margin-block-end: 20px;
  margin-block-start: 20px;
}

main {
  display: flex;
}

.gameArea {
  display: flex;
  flex-direction: column;
  width: 50%;

  align-items: center;
}

.gameBoard {
  margin: 10px;
}

.gameControlsTitle {
  text-align: center;
}

.gameControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 15px;
  border: solid 2px black;
  border-radius: 15px;
  align-items: center;
  padding-right: 20px;
}

td {
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 90px;
  background-color: white;

  border: solid 1px black;
}

.playerArea {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.playerCard {
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  margin: 15px;
  border-radius: 15px;
}

.playerInfo {
  display: flex;
  flex-direction: column;
}

#player1Title {
  text-align: center;
}
#player2Title {
  text-align: center;
  display: none;
}

#cpuTitle {
  text-align: center;
}
button {
  height: auto;
  width: auto;
  margin-left: 15px;
}

li {
  list-style-type: none;
  text-align: left;
}

ul {
  padding-inline-start: 20px;
}
